.Start__container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 35vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 50px;
    transition: 0.5s;
    opacity: 1;

    color: white;
    font-weight: bold;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.Start__container--close {
    bottom: -35vh;
    opacity: 0;
}

.Start__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Start__text {
    filter: drop-shadow(0 0 9px var( --color-pink));
}