:root {
    --color-pink: #ed1a7a;
    --color-black: #210310;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #030517 0%, #00196F 50%);
    height: 100vh;
    width: 100%;
    font-family: "Space Mono", sans-serif;
}

#loader {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: var(--color-pink);
    color: var(--color-black);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "l . c"
        ". . ."
        "n b b";
    align-items: end;
    justify-content: end;
    padding: 30px;
    gap: 10px;
    transition: 0.3s;
    overflow: hidden;
}

.loader__open {
    top: 0;
    height: 100vh;
}

.loader__close {
    top: -10vh;
    height: 0vh;
}

#loader__text {
    grid-area: c;
}

#loader__number {
    grid-area: n;
    font-weight: 700;
    font-style: italic;
    font-size: 6rem;
    line-height: 5rem;
}

#loader__bar {
    grid-area: b;
    width: 100%;
    height: 5px;
    margin-left: auto;
    background-color: var(--color-black);
}